<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347619605605-a10o90l9588ht04rq5b722bjciqpt44b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347619605605-a10o90l9588ht04rq5b722bjciqpt44b</string>
	<key>API_KEY</key>
	<string>AIzaSyAGRKK1qiQkP8XyKkFZdAwxUsPg8MMAwHg</string>
	<key>GCM_SENDER_ID</key>
	<string>347619605605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagram</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-fc31a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-fc31a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347619605605:ios:b9fce09edc9ded5fe59a8c</string>
</dict>
</plist>